@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Karla&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  height: 100%;
  font-family: Karla;
}

.container {
  max-width: 975px;
  padding: 0 15px;
  margin: 0 auto;
}

.hello {
  background: url(../img/1bg.webp) 0 0/cover no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hello__block {
  padding: 50px 0 0;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.hello__content {
  padding: 136px 100px 170px;
}

.top {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60px;
      grid-template-columns: 1fr 60px;
}

.top__logo {
  width: 150px;
  height: 34px;
}

.burger {
  position: absolute;
  top: 7vh;
  right: 0;
  z-index: 200;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #202020;
  text-align: center;
  cursor: pointer;
}

.burger span, .burger::before, .burger::after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
}

.burger span {
  margin-top: 25px;
}

.burger::before {
  content: "";
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

.burger::after {
  content: "";
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.burger.active {
  z-index: 200;
}

.burger.active span,
.burger.active span::before,
.burger.active span::after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.burger.active span {
  opacity: 0;
}

.burger.active::before {
  content: "";
  -webkit-transform: translateY(29px) rotate(-45deg);
          transform: translateY(29px) rotate(-45deg);
}

.burger.active::after {
  content: "";
  -webkit-transform: translateY(-5px) rotate(45deg);
          transform: translateY(-5px) rotate(45deg);
}

.menu-bg {
  z-index: -1;
  background: url(../img/menu_bg.webp) 0 0/cover no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.menu-bg.active {
  z-index: 198;
  display: block;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  opacity: 1;
}

.menu {
  z-index: 0;
  padding-right: 15px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  font-size: 0;
  top: 20vh;
  right: -100%;
}

@media (max-width: 768.1px) {
  .menu {
    position: fixed;
    top: 120px;
    right: -100%;
  }
}

.menu.active {
  z-index: 199;
  display: block;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  opacity: 1;
  right: 0;
  overflow: auto;
  position: absolute;
}

.menu.active li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu.active li a {
  display: inline-block;
  font-family: Asap;
  font-size: 36px;
  line-height: 45px;
  font-weight: 400;
  color: #ffffff;
}

.menu.active li:active a {
  font-weight: 700;
  color: #159279;
  font-family: Asap;
}

@media (max-width: 768.1px) {
  .menu.active {
    position: fixed;
  }
}

@media (min-width: 767.8px) {
  .menu.active li:hover a {
    font-weight: 700;
    color: #1abc9c;
    font-family: Asap;
  }
  .menu.active li:active a {
    font-weight: 700;
    color: #159279;
    font-family: Asap;
  }
}

.content-hello {
  z-index: 1;
}

.content-hello__title {
  font-family: Asap;
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}

.content-hello__title span {
  color: #1abc9c;
}

.content-hello__text {
  font-family: Asap;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #e5e5e5;
}

.content-hello__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 60px 0 0 0;
}

.button-1 {
  display: block;
  text-align: center;
  padding: 15px 15px;
  max-width: 200px;
  min-height: 60px;
  border: 1px solid #ffffff;
  width: 100%;
}

.button-1 span {
  font-family: Asap;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #e5e5e5;
}

.button-2 {
  max-width: 200px;
  min-height: 60px;
  background-color: #1abc9c;
  display: block;
  text-align: center;
  padding: 15px 15px;
  width: 100%;
}

.button-2 span {
  font-family: Asap;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #e5e5e5;
}

@media (min-width: 768px) {
  .button-1:hover,
  .button-2:hover {
    text-decoration: underline;
    color: #fff;
  }
}

@media (max-width: 600px) {
  .hello__content {
    padding: 80px 75px;
  }
}

@media (max-width: 460px) {
  .hello__content {
    padding: 65px 45px;
  }
  .content-hello__title {
    font-size: 40px;
  }
}

.story {
  padding: 15vh 15px 30px;
  min-height: 100vh;
}

.title-black {
  color: #1abc9c;
  margin-right: 20px;
  font-family: Asap;
  font-size: 50px;
  line-height: 45px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.title-black span {
  color: #212121;
}

.title-black span:first-child {
  margin-left: 10px;
}

.title-white {
  font-family: Asap;
  font-size: 50px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1abc9c;
}

.title-white span {
  color: #ffffff;
}

.title-white span:first-child {
  margin-left: 10px;
}

.story-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.story-block__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.story-block__image {
  position: relative;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.story-block__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.text-block__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #303030;
}

.text-block__right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
  font-style: italic;
  color: #bababa;
}

@media (max-width: 800px) {
  .story {
    min-height: auto;
  }
}

@media (max-width: 425.1px) {
  .story {
    padding: 30px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .story-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    height: 100%;
    min-height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .story-block__text-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .story-block__image {
    display: none;
  }
}

.services {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.82)), to(rgba(0, 0, 0, 0.82))), url(../img/services_bg.webp) 0 0/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82)), url(../img/services_bg.webp) 0 0/cover no-repeat;
  padding: 7vh 15px 2vh 90px;
}

.services-block__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16vh;
}

.services-block__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 0 0px;
}

.top-subtitle {
  position: relative;
  margin-left: 80px;
  font-family: Asap;
  font-size: 18px;
  line-height: 45px;
  font-weight: 400;
  color: #efefef;
}

.top-subtitle::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: -40px;
  top: 0;
}

.services-item {
  position: relative;
  margin-bottom: 10vh;
  padding-left: 75px;
}

.services-item::before {
  content: "";
  display: block;
  width: 52px;
  height: 52px;
  position: absolute;
  left: 0px;
  border: 1px solid #1abc9c4b;
}

.services-item:nth-child(1) {
  position: relative;
}

.services-item:nth-child(1)::before {
  content: "";
  display: block;
  width: 52px;
  height: 52px;
  background: url(../img/1.webp) center center/70% no-repeat;
  background-color: #1abc9c;
  position: absolute;
  left: 0px;
}

.services-item:nth-child(2):before {
  background: url(../img/2.webp) center center/70% no-repeat;
}

.services-item:nth-child(3):before {
  background: url(../img/3.webp) center center/70% no-repeat;
}

.services-item:nth-child(4):before {
  background: url(../img/4.webp) center center/70% no-repeat;
}

.services-item:nth-child(5):before {
  background: url(../img/5.webp) center center/70% no-repeat;
}

.services-item:nth-child(6):before {
  background: url(../img/6.webp) center center/70% no-repeat;
}

.services-item__title {
  font-family: Asap;
  font-size: 24px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 2vh;
}

.services-item__text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #eeeeee;
}

@media (max-width: 1024px) {
  .services {
    padding: 30px 15px 30px 85px;
  }
  .services-block__items {
    display: block;
  }
  .services-block__top {
    margin: 0;
    display: block;
  }
  .services-block__subtitle {
    margin-left: 0;
  }
  .services-block__subtitle::before {
    display: none;
  }
  .services-item {
    margin: 0;
    margin-bottom: 1vh;
  }
}

@media (max-width: 400px) {
  .services-block__title {
    font-size: 36px;
  }
  .services {
    padding: 0 10px;
  }
}

.portfolio {
  padding: 14vh 15px;
}

.portfolio__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-portfolio {
  margin-bottom: 4vh;
}

.top-portfolio__title {
  margin: 0 40px 0 0;
}

.top-portfolio__filter {
  width: 85px;
  height: 25px;
  background-color: #1abc9c;
  display: block;
  font-family: Asap;
  text-transform: uppercase;
  padding: 4.5px 15px 4.5px 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
  font-weight: 400;
  color: #efefef;
  display: inline-block;
  position: relative;
}

.top-portfolio__filter span {
  display: block;
  width: 12px;
  height: 1px;
  position: absolute;
  background-color: #fff;
  right: 4px;
  top: 12px;
}

.top-portfolio__filter span::before, .top-portfolio__filter span::after {
  content: "";
  background-color: #fff;
  display: block;
  width: 12px;
  height: 1px;
  position: absolute;
  right: 0px;
}

.top-portfolio__filter span::before {
  bottom: 4px;
}

.top-portfolio__filter span::after {
  top: 4px;
}

.content-portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[12];
      grid-template-columns: repeat(12, auto);
  -ms-grid-rows: 30vh 34vh;
      grid-template-rows: 30vh 34vh;
  position: relative;
}

.content-portfolio::before, .content-portfolio::after {
  content: ">";
  display: block;
  text-align: center;
  padding: 2px 0;
  font-size: 24px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #000;
  position: absolute;
  right: 0;
  top: -8vh;
  cursor: pointer;
}

.content-portfolio::before {
  right: 5vh;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.content-portfolio__item {
  position: relative;
  width: 100%;
  padding: 0 0 30% 0;
  cursor: pointer;
}

.content-portfolio__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

.smaller {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.small {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.normal {
  grid-column: span 4;
}

.bigger {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4 / span 5;
}

.biggest {
  grid-column: span 6;
}

@media (max-width: 600px) {
  .content-portfolio {
    padding-top: 7vh;
    -ms-grid-rows: (220px)[4];
    -ms-grid-columns: (1fr)[8];
        grid-template: repeat(4, 220px)/repeat(8, 1fr);
  }
  .content-portfolio::before, .content-portfolio::after {
    top: -4vh;
  }
  .content-portfolio__item {
    grid-column: span 4;
  }
}

@media (max-width: 425px) {
  .content-portfolio {
    -ms-grid-rows: (220px)[6];
    -ms-grid-columns: (1fr)[4];
        grid-template: repeat(6, 220px)/repeat(4, 1fr);
    padding-top: 0;
  }
  .content-portfolio::before, .content-portfolio::after {
    top: -7vh;
  }
  .top-portfolio {
    display: block;
  }
  .top-portfolio__filter {
    margin-top: 4vh;
  }
}

.contact {
  padding: 12vh 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.77)), to(rgba(0, 0, 0, 0.77))), url(../img/contact_bg.webp);
  background: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)), url(../img/contact_bg.webp);
}

.contact__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4vh;
}

.contact__text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #d4d4d4;
}

.block-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10vh;
}

.block-contact__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.block-contact__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.left-block__item {
  padding-left: 90px;
  position: relative;
  margin-bottom: 7vh;
}

.left-block__item::before {
  content: "";
  display: block;
  width: 52px;
  height: 52px;
  position: absolute;
  left: 0px;
  border: 1px solid #1abc9c4b;
}

.left-block__item:nth-child(1) {
  position: relative;
}

.left-block__item:nth-child(1)::before {
  content: "";
  display: block;
  width: 52px;
  height: 52px;
  background: url(../img/contact/1.webp) center center/50% no-repeat;
  background-color: #1abc9c;
  position: absolute;
  left: -0px;
}

.left-block__item:nth-child(2):before {
  background: url(../img/contact/2.webp) center center/50% no-repeat;
}

.left-block__item:nth-child(3):before {
  background: url(../img/contact/3.webp) center center/50% no-repeat;
}

.left-block__item:nth-child(4):before {
  background: url(../img/4.webp) center center/70% no-repeat;
}

.left-block__item:nth-child(5):before {
  background: url(../img/5.webp) center center/70% no-repeat;
}

.left-block__item:nth-child(6):before {
  background: url(../img/6.webp) center center/70% no-repeat;
}

.left-block__title {
  font-family: Asap;
  font-size: 24px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 1vh;
  color: #ffffff;
}

.left-block__link {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #d4d4d4;
}

.right-block {
  height: 100%;
}

.right-block #form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
  -ms-grid-columns: (1fr)[2];
      grid-template: repeat(5, 1fr)/repeat(2, 1fr);
  gap: 19px;
}

.right-block #inp {
  display: inline-block;
  height: 50px;
  border: 1px solid #48c4ab;
  background: rgba(0, 0, 0, 0);
  grid-column: span 1;
  font-family: Asap;
  font-size: 18px;
  line-height: 45px;
  font-weight: 400;
  color: #a8a8a8;
  padding: 0 1.8vh;
}

.right-block #message {
  resize: none;
  grid-column: span 2;
  border: 1px solid #48c4ab;
  background: rgba(0, 0, 0, 0);
  grid-row: span 3;
  font-family: Asap;
  padding: 1vh 1.8vh;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #a8a8a8;
  min-height: 100%;
}

@media (max-width: 768px) {
  .block-contact {
    display: block;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 545px) {
  .contact__top {
    display: block;
  }
  .top-subtitle {
    text-align: right;
  }
  .top-subtitle::before {
    display: none;
  }
  .right-block #form {
    display: block;
  }
  .right-block #inp {
    display: block;
    width: 100%;
    margin: 0 0 15px 0;
  }
  .right-block #message {
    width: 100%;
    display: block;
    min-height: 140px;
  }
}

#animate,
#animate-2,
#animate-3,
#animate-4,
#animate-5 {
  display: none;
}

#animate .new,
#animate-2 .new,
#animate-3 .new,
#animate-4 .new,
#animate-5 .new {
  opacity: 0;
}

#animate .div_opacity,
#animate-2 .div_opacity,
#animate-3 .div_opacity,
#animate-4 .div_opacity,
#animate-5 .div_opacity {
  -webkit-transition: opacity 0.1s ease-in-out 0.4s;
  transition: opacity 0.1s ease-in-out 0.4s;
  opacity: 1;
}
