@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Karla&display=swap");
body {
	height: 100%;
	font-family: Karla;
}

.container {
	max-width: 975px;
	padding: 0 15px;
	margin: 0 auto;
}

.hello {
	background: url(../img/1bg.webp) 0 0 / cover no-repeat;

	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;

	&__block {
		padding: 50px 0 0;
		position: relative;
		flex: 1 0 auto;
	}

	&__content {
		padding: 136px 100px 170px;
	}
}

.top {
	//position: absolute;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	&__logo {
		width: 150px;
		height: 34px;
	}
	display: grid;
	grid-template-columns: 1fr 60px;
}
.burger {
	position: absolute;
	top: 7vh;
	right: 0;
	z-index: 200;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #202020;
	text-align: center;
	cursor: pointer;
	span,
	&::before,
	&::after {
		transition: all 0.3s;
		display: block;
		margin: 0 auto;
		width: 32px;
		height: 4px;
		background-color: #fff;
		border-radius: 5px;
	}
	span {
		margin-top: 25px;
	}
	&::before {
		content: "";
		transform: translateY(16px);
	}
	&::after {
		content: "";
		transform: translateY(8px);
	}
}
.burger.active {
	z-index: 200;
	span,
	span::before,
	span::after {
		transition: all 0.3s;
	}
	span {
		opacity: 0;
	}
	&::before {
		content: "";
		transform: translateY(29px) rotate(-45deg);
	}
	&::after {
		content: "";
		transform: translateY(-5px) rotate(45deg);
	}
}
.menu-bg {
	z-index: -1;
	background: url(../img/menu_bg.webp) 0 0 / cover no-repeat;
	min-height: 100vh;
	min-width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: all 0.6s;
	//display: none;
}
.menu-bg.active {
	z-index: 198;
	display: block;
	transition: all 0.6s;
	opacity: 1;
}
.menu {
	z-index: 0;
	padding-right: 15px;
	opacity: 0;
	position: absolute;
	transition: all 0.6s;
	font-size: 0;

	top: 20vh;
	right: -100%;
	//display: none;
}
@media (max-width: 768.1px) {
	.menu {
		position: fixed;
		top: 120px;
		right: -100%;
	}
}
.menu.active {
	z-index: 199;
	display: block;
	transition: all 0.6s;
	opacity: 1;

	right: 0;
	overflow: auto;
	position: absolute;

	& li {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		a {
			display: inline-block;
			font-family: Asap;
			font-size: 36px;
			line-height: 45px;
			font-weight: 400;
			color: #ffffff;
		}
	}
}

.menu.active {
	& li:active {
		a {
			font-weight: 700;
			color: #159279;
			font-family: Asap;
		}
	}
}
@media (max-width: 768.1px) {
	.menu.active {
		position: fixed;
	}
}
@media (min-width: 767.8px) {
	.menu.active {
		& li:hover {
			a {
				font-weight: 700;
				color: #1abc9c;
				font-family: Asap;
			}
		}
		& li:active {
			a {
				font-weight: 700;
				color: #159279;
				font-family: Asap;
			}
		}
	}
}

.content-hello {
	z-index: 1;
	&__title {
		font-family: Asap;
		font-size: 70px;
		font-weight: 700;
		color: #ffffff;
		span {
			color: #1abc9c;
		}
		margin-bottom: 30px;
	}

	&__text {
		font-family: Asap;
		font-size: 18px;
		line-height: 30px;
		font-weight: 400;
		color: #e5e5e5;
	}

	&__buttons {
		display: flex;
		width: 100%;
		justify-content: space-evenly;
		margin: 60px 0 0 0;
	}
}
.button-1 {
	//z-index: 1;
	span {
		font-family: Asap;
		font-size: 20px;
		line-height: 30px;
		font-weight: 400;
		color: #e5e5e5;
	}
	display: block;
	text-align: center;
	padding: 15px 15px;
	max-width: 200px;
	min-height: 60px;
	border: 1px solid #ffffff;
	width: 100%;
}
.button-2 {
	//z-index: 1;
	span {
		font-family: Asap;
		font-size: 20px;
		line-height: 30px;
		font-weight: 400;
		color: #e5e5e5;
	}
	max-width: 200px;
	min-height: 60px;
	background-color: #1abc9c;
	display: block;
	text-align: center;
	padding: 15px 15px;
	width: 100%;
}
@media (min-width: 768px) {
	.button-1:hover,
	.button-2:hover {
		text-decoration: underline;
		color: #fff;
	}
}

@media (max-width: 600px) {
	.hello__content {
		padding: 80px 75px;
	}
}
@media (max-width: 460px) {
	.hello__content {
		padding: 65px 45px;
	}
	.content-hello {
		&__title {
			font-size: 40px;
		}
	}
}
.story {
	padding: 15vh 15px 30px;
	//min-width: 100vh;
	min-height: 100vh;
}
.title-black {
	color: #1abc9c;
	margin-right: 20px;

	font-family: Asap;
	font-size: 50px;
	line-height: 45px;
	font-weight: 700;
	margin-bottom: 30px;
	text-transform: uppercase;
	span {
		color: #212121;
	}
	& span:first-child {
		margin-left: 10px;
	}
}
.title-white {
	font-family: Asap;
	font-size: 50px;
	line-height: 45px;
	font-weight: 700;
	text-transform: uppercase;
	//margin-bottom: 30px;
	color: #1abc9c;
	span {
		color: #ffffff;
	}
	& span:first-child {
		margin-left: 10px;
	}
}
.story-block {
	display: flex;
	flex-direction: column;
	min-height: 100%;

	&__text-block {
		display: flex;
		margin-bottom: 50px;
	}

	&__image {
		position: relative;
		min-height: 100%;
		flex-direction: column;
		flex: 1 0 auto;
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}
}
.text-block {
	&__left {
		flex: 1 0 50%;
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		color: #303030;
	}

	&__right {
		align-self: center;
		font-size: 23px;
		line-height: 30px;
		font-weight: 400;
		font-style: italic;
		color: #bababa;
	}
}
@media (max-width: 800px) {
	.story {
		min-height: auto;
	}
}
@media (max-width: 425.1px) {
	.story {
		padding: 30px 15px;
		display: flex;
		flex-direction: column;
	}
	.story-block {
		flex: 1 0 auto;
		height: 100%;
		min-height: 100%;

		flex-direction: column;
		&__text-block {
			flex: 1 0 auto;
			margin-bottom: 20px;
			flex-direction: column;
		}
		&__image {
			display: none;
		}
	}
}

.services {
	background: linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82)),
		url(../img/services_bg.webp) 0 0 / cover no-repeat;
	padding: 7vh 15px 2vh 90px;
}
.services-block {
	&__top {
		display: flex;
		margin-bottom: 16vh;
	}

	&__items {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(3, 1fr);
		gap: 0 0px;
	}
}
.top-subtitle {
	position: relative;
	&::before {
		content: "";
		display: block;
		width: 1px;
		height: 100%;
		background-color: #fff;
		position: absolute;
		left: -40px;
		top: 0;
	}
	margin-left: 80px;
	font-family: Asap;
	font-size: 18px;
	line-height: 45px;
	font-weight: 400;
	color: #efefef;
}
.services-item {
	position: relative;
	margin-bottom: 10vh;
	padding-left: 75px;
	&::before {
		content: "";
		display: block;
		width: 52px;
		height: 52px;
		position: absolute;
		left: 0px;
		border: 1px solid #1abc9c4b;
	}
	&:nth-child(1) {
		position: relative;
		&::before {
			content: "";
			display: block;
			width: 52px;
			height: 52px;
			background: url(../img/1.webp) center center / 70% no-repeat;
			background-color: #1abc9c;
			position: absolute;
			left: 0px;
		}
	}
	&:nth-child(2) {
		&:before {
			background: url(../img/2.webp) center center / 70% no-repeat;
		}
	}
	&:nth-child(3) {
		&:before {
			background: url(../img/3.webp) center center / 70% no-repeat;
		}
	}
	&:nth-child(4) {
		&:before {
			background: url(../img/4.webp) center center / 70% no-repeat;
		}
	}
	&:nth-child(5) {
		&:before {
			background: url(../img/5.webp) center center / 70% no-repeat;
		}
	}
	&:nth-child(6) {
		&:before {
			background: url(../img/6.webp) center center / 70% no-repeat;
		}
	}

	&__title {
		font-family: Asap;
		font-size: 24px;
		line-height: 45px;
		font-weight: 700;
		color: #ffffff;
		margin-bottom: 2vh;
	}

	&__text {
		font-size: 14px;
		line-height: 22px;
		font-weight: 400;
		color: #eeeeee;
	}
}

@media (max-width: 1024px) {
	.services {
		padding: 30px 15px 30px 85px;
	}
	.services-block {
		&__items {
			display: block;
		}
		&__top {
			margin: 0;
			display: block;
		}
		&__subtitle {
			margin-left: 0;
			&::before {
				display: none;
			}
		}
	}
	.services-item {
		margin: 0;
		margin-bottom: 1vh;
	}
}
@media (max-width: 400px) {
	.services-block__title {
		font-size: 36px;
	}
	.services {
		padding: 0 10px;
	}
}

.portfolio {
	padding: 14vh 15px;

	&__top {
		display: flex;
	}

	&__content {
	}
}
.top-portfolio {
	margin-bottom: 4vh;
	&__title {
		margin: 0 40px 0 0;
	}

	&__filter {
		width: 85px;
		height: 25px;
		background-color: #1abc9c;
		display: block;
		font-family: Asap;
		text-transform: uppercase;
		padding: 4.5px 15px 4.5px 10px;
		align-self: center;
		font-size: 16px;
		font-weight: 400;
		color: #efefef;
		display: inline-block;
		position: relative;
		span {
			display: block;
			width: 12px;
			height: 1px;
			position: absolute;
			background-color: #fff;
			right: 4px;
			top: 12px;
			&::before,
			&::after {
				content: "";
				background-color: #fff;
				display: block;
				width: 12px;
				height: 1px;
				position: absolute;
				right: 0px;
			}
			&::before {
				bottom: 4px;
			}
			&::after {
				top: 4px;
			}
		}
	}
}
.content-portfolio {
	display: grid;
	grid-template-columns: repeat(12, auto);
	grid-template-rows: 30vh 34vh;
	position: relative;
	&::before,
	&::after {
		content: ">";
		display: block;
		text-align: center;
		padding: 2px 0;
		font-size: 24px;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border: 1px solid #000;
		position: absolute;
		right: 0;
		top: -8vh;
		cursor: pointer;
	}

	&::before {
		right: 5vh;
		transform: rotate(180deg);
	}
	&__item {
		position: relative;
		width: 100%;
		padding: 0 0 30% 0;
		cursor: pointer;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			object-fit: cover;
			object-position: right;
		}
	}
}

.smaller {
	grid-column: 1 / span 2;
}
.small {
	grid-column: 1 / span 3;
}
.normal {
	grid-column: span 4;
}
.bigger {
	grid-column: 4 / span 5;
}
.biggest {
	grid-column: span 6;
}

@media (max-width: 600px) {
	.content-portfolio {
		padding-top: 7vh;
		grid-template: repeat(4, 220px) / repeat(8, 1fr);

		&::before,
		&::after {
			top: -4vh;
		}
		&__item {
			grid-column: span 4;
		}
	}
}
@media (max-width: 425px) {
	.content-portfolio {
		grid-template: repeat(6, 220px) / repeat(4, 1fr);
		padding-top: 0;
		&::before,
		&::after {
			top: -7vh;
		}
	}
	.top-portfolio {
		display: block;
		&__filter {
			margin-top: 4vh;
		}
	}
}

.contact {
	padding: 12vh 15px;
	background: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)), url(../img/contact_bg.webp);

	&__top {
		display: flex;
		margin-bottom: 4vh;
	}

	&__text {
		font-size: 14px;
		line-height: 22px;
		font-weight: 400;
		color: #d4d4d4;
	}
}
.block-contact {
	display: flex;
	padding-top: 10vh;
	&__left {
		flex: 0 0 35%;
	}

	&__right {
		flex: 1 1 auto;
	}
}
.left-block {
	&__item {
		padding-left: 90px;
		position: relative;
		margin-bottom: 7vh;
		&::before {
			content: "";
			display: block;
			width: 52px;
			height: 52px;
			position: absolute;
			left: 0px;
			border: 1px solid #1abc9c4b;
		}
		&:nth-child(1) {
			position: relative;
			&::before {
				content: "";
				display: block;
				width: 52px;
				height: 52px;
				background: url(../img/contact/1.webp) center center / 50% no-repeat;
				background-color: #1abc9c;
				position: absolute;
				left: -0px;
			}
		}
		&:nth-child(2) {
			&:before {
				background: url(../img/contact/2.webp) center center / 50% no-repeat;
			}
		}
		&:nth-child(3) {
			&:before {
				background: url(../img/contact/3.webp) center center / 50% no-repeat;
			}
		}
		&:nth-child(4) {
			&:before {
				background: url(../img/4.webp) center center / 70% no-repeat;
			}
		}
		&:nth-child(5) {
			&:before {
				background: url(../img/5.webp) center center / 70% no-repeat;
			}
		}
		&:nth-child(6) {
			&:before {
				background: url(../img/6.webp) center center / 70% no-repeat;
			}
		}
	}

	&__title {
		font-family: Asap;
		font-size: 24px;
		line-height: 22px;
		font-weight: 700;
		margin-bottom: 1vh;
		color: #ffffff;
	}

	&__link {
		font-size: 14px;
		line-height: 22px;
		font-weight: 400;
		color: #d4d4d4;
	}
}
.right-block {
	height: 100%;
	#form {
		display: grid;
		grid-template: repeat(5, 1fr) / repeat(2, 1fr);
		gap: 19px;
	}
	#inp {
		display: inline-block;
		height: 50px;
		border: 1px solid #48c4ab;
		background: rgba(0, 0, 0, 0);
		grid-column: span 1;
		font-family: Asap;
		font-size: 18px;
		line-height: 45px;
		font-weight: 400;
		color: #a8a8a8;
		padding: 0 1.8vh;
	}
	#message {
		resize: none;
		grid-column: span 2;
		border: 1px solid #48c4ab;
		background: rgba(0, 0, 0, 0);
		grid-row: span 3;
		font-family: Asap;
		padding: 1vh 1.8vh;
		font-size: 18px;
		line-height: 25px;
		font-weight: 400;
		color: #a8a8a8;
		min-height: 100%;
	}
}

@media (max-width: 768px) {
	.block-contact {
		display: block;
		justify-items: center;
		justify-content: center;
	}
}
@media (max-width: 545px) {
	.contact__top {
		display: block;
	}
	.top-subtitle {
		text-align: right;
		&::before {
			display: none;
		}
	}
	.right-block {
		#form {
			display: block;
		}
		#inp {
			display: block;
			width: 100%;
			margin: 0 0 15px 0;
		}
		#message {
			width: 100%;
			display: block;
			min-height: 140px;
		}
	}
}

#animate,
#animate-2,
#animate-3,
#animate-4,
#animate-5 {
	//padding: 0px 0px 0px 100px;
	display: none;
}
#animate .new,
#animate-2 .new,
#animate-3 .new,
#animate-4 .new,
#animate-5 .new {
	opacity: 0;
}
#animate .div_opacity,
#animate-2 .div_opacity,
#animate-3 .div_opacity,
#animate-4 .div_opacity,
#animate-5 .div_opacity {
	//display: inline-block;
	-webkit-transition: opacity 0.1s ease-in-out 0.4s;
	-moz-transition: opacity 0.1s ease-in-out 0.4s;
	-ms-transition: opacity 0.1s ease-in-out 0.4s;
	-o-transition: opacity 0.1s ease-in-out 0.4s;
	transition: opacity 0.1s ease-in-out 0.4s;
	opacity: 1;
}
